<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teashop.mapper.TeaGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.teaShop.bean.TeaGoods" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="goodsname" property="goodsname" jdbcType="VARCHAR" />
    <result column="brief" property="brief" jdbcType="VARCHAR" />
    <result column="picpath" property="picpath" jdbcType="VARCHAR" />
    <result column="appuserid" property="appuserid" jdbcType="VARCHAR" />
    <result column="appuser" property="appuser" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="getGoodsByAddtime" resultType="com.teaShop.bean.TeaGoods" >
    SELECT  t.*
    FROM tea_goods t
    ORDER BY  t.addtime DESC
  </select>
</mapper>