<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teaShop.dao.TeaOrdersDao">
    <resultMap id="BaseResultMap" type="com.teaShop.bean.TeaOrders" >
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="totalprice" property="totalprice" jdbcType="DECIMAL" />
        <result column="quantity" property="quantity" jdbcType="INTEGER" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="userid" property="userid" jdbcType="VARCHAR" />
        <result column="telephone" property="telephone" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="getAll" parameterType="com.teaShop.bean.TeaOrders" resultType="com.teaShop.bean.TeaOrders">
        select *
        from tea_orders
        where username like '%${username}%'
        <if test="status != null and status!='' and status !=2">
            and status = #{status}
        </if>
    </select>

    <select id="orderIsHave" parameterType="String" resultType="Integer">
        SELECT count(1)
        from tea_orders
        where id = #{orderid}
    </select>
    <select id="getOneById" parameterType="String" resultType="com.teaShop.bean.TeaOrders">
        select *
        from tea_orders where id=#{id}
    </select>

    <update id="editOrder" parameterType="com.teaShop.bean.TeaOrders">
        update tea_orders
        set code=#{code},
            totalprice=#{totalprice},
            quantity=#{quantity},
            username=#{username},
            userid=#{userid},
            telephone=#{telephone},
            address=#{address},
            status=#{status},
            addtime=#{addtime}
        where id=#{id}
    </update>

    <insert id="addOrder" parameterType="com.teaShop.bean.TeaOrders">
      insert into tea_orders
      values(#{id},#{code},#{totalprice},#{quantity},#{username},#{userid},#{telephone},#{address},#{status},#{addtime})
    </insert>

    <insert id="addOrderItem" parameterType="com.teaShop.bean.TeaOrderGoods">
        insert into tea_order_goods
        values(#{id},#{orderid},#{goodsid},#{goodsPrice},#{goodsQuantity},#{goodsname},#{goodspic})
    </insert>

    <insert id="addIntegral" parameterType="com.teaShop.bean.TeaIntegral">
        insert into tea_integral(quantity,orderid,userid,username,operator,orderprice,orderno)
        values(#{quantity},#{orderid},#{userid},#{username},#{operator},#{orderprice},#{orderno})
    </insert>

    <select id="getOrderList" parameterType="Integer" resultType="com.teaShop.bean.dto.TeaOrderVO">
        select T1.*,T2.goodsid,T2.goodsname,T2.goods_quantity as goodsQuantity,T2.goodspic,T2.goods_price as goodsPrice
        from tea_orders T1
        left join tea_order_goods T2 on T1.id = T2.orderid
        where T1.userid = #{userId}
        order by T1.addtime desc
    </select>

    <select id="getIntegralList" parameterType="java.lang.Integer" resultType="com.teaShop.bean.TeaIntegral">
        select T1.*
        from tea_integral T1
        where T1.userid = #{userId}
    </select>

    <select id="getIntegralSum" parameterType="java.lang.Integer" resultType="java.math.BigDecimal">
        select sum(T1.quantity)
        from tea_integral T1
        where T1.userid = #{userId}
    </select>
</mapper>